/* Estilos para el componente LocalStorageData */
.container {
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto;
  text-align: center; /* Centra el texto horizontalmente */
}

.heading {
  margin-top: 20px; /* Añade un poco de espacio superior */
  font-size: 24px;
  color: #333;
}

.data-item {
  padding: 10px 0;
}

.btn-primary {
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
